* {
    margin: 0;
    padding: 0;
}

html,
body,
section {
    height: 100%;
}

body {
    background: linear-gradient(135deg, #23232c, #2c3e50, #283b52);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#echo {
    box-shadow: 0 12px 64px rgba(0, 0, 0, 0.45);
    border: rgba(255,255,255,.85) 1px solid;
    border-radius: 2px;
}

.player-container {
    position: fixed;
    height: 6px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    background: #fff;
    border-radius: 10px;
}

.player-container .cursor {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #fff;
    background: #222;
    cursor: grab;
}